body {
  background-color: #111827;
  color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.shows {
  max-width: 700px;
}

.show-card {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  border-radius: 20px;
  font-size: larger;
}

.show-card img {
  align-self: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 130%;
}

.show-card h2 {
  margin: 0;
  padding-left: 30px;
}

.show-card p {
  padding: 0 30px;
  color: rgba(211, 211, 211, 0.622);
}

#reviews {
  display: flex;
  flex-direction: column;
}

.reviewcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f2937;
  border-radius: 20px;
  font-size: larger;
  margin-top: 20px;
  padding: 10px;
}

.reviewcard pre {
  margin: 0;
  padding: 10px;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.reviewRating {
  margin: 0;
  background-color: #c3ddfd;
  padding: 5px;
  border-radius: 5px;
  color: #1f2937;
}

.reviewinput {
  background-color: #c3ddfd;
  border-radius: 20px;
  font-size: larger;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 10px;
  margin-bottom: 20px;
}

#reviewinput {
  width: 100%;
  resize: none;
}

#ratinginput {
  width: 140px;
  margin-right: 20px;
}

#addButton {
  background-color: #c3ddfd;
  border-radius: 20px;
  font-size: larger;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 10px;
  margin-bottom: 20px;
}
